body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background: linear-gradient(0deg, black 0.1%, white 100%); */
    background: linear-gradient(0deg, black 0.1%, white 90%);
    color: black;
    font-family: 'Poppins', sans-serif;
    border: 0;
    top: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}



.div-1 {
    /* margin-top: 66px; */
    font-size: 20px;
    font-weight: 700;
    padding: 43vh 3vw;
}

.heading-1 {
    font-size: 40px;
    color: silver;
}