body,
html {
    width: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #e9ecef;
    color: black;
    font-family: 'Poppins', sans-serif;
    border: 0;
    top: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

::selection {
    color: silver;
    background: transparent;
}





/* ------------------- Scroll Bar ------------------- */
/* width */
::-webkit-scrollbar {
    width: 0.75vw;
    background-color: white;
}

/* Track */
::-webkit-scrollbar-track {
    /* border-radius: 10px; */
    background-color: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
    /* border-radius: 35px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: silver;
}





.navigation-header {
    position: fixed;
    background-color: white;
    padding: 0px 10px;
    height: 66px;
    width: 100%;
    top: 0;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

nav {
    width: 95%;
    border-radius: 10px;
    /* max-width: 1650px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

div.name {
    width: 300px;
    left: 0;
    font-size: 40px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    padding-left: 10px;
    background: linear-gradient(90.1deg, rgb(255, 85, 85) 0.1%, rgb(85, 85, 255) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navigation-items {
    display: flex;
    gap: 70px;
}

.navigation-items>a {
    display: flex;
    color: black;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    font-size: 20px;
    transition: .15s ease-in-out;
}

.navigation-items>a:hover {
    color: silver;
    font-weight: 600;
    /* padding: 0px 20px; */
}

.hamburger {
    display: none;
    font-size: 20px;
    font-weight: 800;
    color: black;
}

@media screen and (max-width:768px) {
    .hamburger {
        display: flex;
        cursor: pointer;
    }

    .hamburger #closeHam {
        display: none;
    }

    .navigation-items {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 0;
        top: 58px;
        background-color: white;
        width: 100%;
        height: calc(100vh - 58px);
        padding-top: 60px;
        gap: 10vh;
    }
}





.atikle {
    font-family: "Roboto", sans-serif;
}

.synapse {
    font-family: 'Ubuntu', sans-serif;
    background: linear-gradient(135deg, #FF2D92, #FF8C00);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.daily {
    color: cadetblue;
}

.heading-1 {
    font-size: 40px;
}

.text-1 {
    color: whitesmoke;
}





.div-1 {
    margin-top: 66px;
    font-size: 20px;
    font-weight: 700;
    padding: 40vh 3vw;
    color: whitesmoke;background: linear-gradient(0deg, black 0.1%, white 100%);
}

.fixed-para-dummy {
    width: 100%;
    height: 1000px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: black;
    position: fixed;
}